{% extends '_templates/base-2.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-6 order-sm-12">
          <img src="../img/img-queen/members/{{ slug }}-color.jpg" alt="{{ member.name }}" class="img-fluid rounded">
      </div>
      <div class="col-sm-6 order-sm-1">
          <h1 class="text-center">
            <span>
              <hr class="solid">
            </span>
            {{ name }}
            <span>
              <hr class="solid">
            </span>
          </h1>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}