// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

@import "nav";

h1, h2, h3, p {
  font-family: 'Castoro', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.queen-bake-margin {
  margin-top: 20px;
}